.BeverControls_PasswordField {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.BeverControls_PasswordField-wrapper {
  width: 100%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: none #f3f2f1;
  background: transparent;
  box-shadow: none;
  box-sizing: border-box;
  cursor: default;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.BeverControls_PasswordField-wrapper:hover {
  border: 1px solid #000;
}
.BeverControls_PasswordField-wrapper:hover .BeverControls_PasswordField-reveal {
  visibility: visible;
}

.BeverControls_PasswordField-field {
  width: 100%;
  min-width: 0px;
  margin: 0px;
  padding: 0px 8px;
  outline: 0px;
  border: none #f3f2f1;
  box-shadow: none;
  box-sizing: border-box;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.BeverControls_PasswordField-field:disabled {
  color: #a19f9d;
  background: none #f3f2f1;
  border: none #f3f2f1;
}

.BeverControls_PasswordField-reveal {
  width: 32px;
  height: 30px;
  padding: 7px 4px;
  background-color: transparent;
  border: none;
  outline: transparent;
  position: relative;
  cursor: pointer;
  visibility: hidden;
}

.BeverControls_PasswordField-eyeIcon {
  width: 16px;
  height: 16px;
  fill: #0078d4;
}
.BeverControls_PasswordField-eyeIconSlash {
  width: 18px;
  height: 16px;
  fill: #0078d4;
}
.BeverControls_PasswordField-reveal:hover {
  outline: 0px;
  color: #106ebe;
  background-color: #f3f2f1;
}
